@import 'tailwindcss';

:root {
  --native-inset-top: env(--safe-area-inset-top, 0);
  --native-inset-bottom: env(--safe-area-inset-bottom, 0);
  --native-inset-right: env(--safe-area-inset-right, 0);
  --native-inset-left: env(--safe-area-inset-left, 0);
}

@custom-variant desktop (&:where([data-desktop], [data-desktop] *));

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --breakpoint-xs: 24rem;

  --spacing-safe-top: var(--native-inset-top);
  --spacing-safe-right: var(--native-inset-right);
  --spacing-safe-bottom: var(--native-inset-bottom);
  --spacing-safe-left: var(--native-inset-left);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-neutral-600);
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-500);
}

*::-webkit-scrollbar-button {
  display: none;
}
